.input-options {
  display: flex;
  flex-direction: row;
  padding: 1em;
  flex-wrap: wrap;
  justify-content: center;
}

.input-option {
  border: 1px solid black;
  padding: 1em;
  background-color: darkblue;
}

.input-option.used {
  opacity: 20%;
  background-color: unset;
}